body,
html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .bt-1px::before {
    transform: scaleY(0.7);
  }
  .bb-1px::after {
    transform: scaleY(0.7);
  }
  .br-1px::after {
    transform: scaleY(0.7);
  }
  .bl-1px::after {
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .bt-1px::before {
    transform: scaleY(0.5);
  }
  .bb-1px::after {
    transform: scaleY(0.5);
  }
  .br-1px::after {
    transform: scaleY(0.5);
  }
  .bl-1px::after {
    transform: scaleY(0.5);
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
header {
  padding: 0 0.666666666666667rem;
  height: 1rem;
  position: relative;
  margin-bottom: 0.25rem;
}
header:after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  content: ' ';
}
.list {
  position: relative;
}
.list .item {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
}
.list .item .pic {
  flex: 0 0 25%;
  font-size: 15px;
  height: 0;
  position: relative;
  padding-bottom: 25%;
}
[data-dpr="2"] .list .item .pic {
  font-size: 30px;
}
[data-dpr="2.5"] .list .item .pic {
  font-size: 37.5px;
}
[data-dpr="2.625"] .list .item .pic {
  font-size: 39.375px;
}
[data-dpr="2.75"] .list .item .pic {
  font-size: 41.25px;
}
[data-dpr="3"] .list .item .pic {
  font-size: 45px;
}
[data-dpr="3.5"] .list .item .pic {
  font-size: 52.5px;
}
[data-dpr="4"] .list .item .pic {
  font-size: 60px;
}
.list .item .pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list .item .text {
  flex: 1;
  display: flex;
  padding-left: 0.25rem;
  flex-direction: column;
}
.list .item .text .head {
  display: inline-flex;
  flex-grow: 1;
}
.list .item .text .head h2 {
  flex: 1;
}
.list .item .text .head h2 a {
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
[data-dpr="2"] .list .item .text .head h2 a {
  font-size: 36px;
}
[data-dpr="2.5"] .list .item .text .head h2 a {
  font-size: 45px;
}
[data-dpr="2.625"] .list .item .text .head h2 a {
  font-size: 47.25px;
}
[data-dpr="2.75"] .list .item .text .head h2 a {
  font-size: 49.5px;
}
[data-dpr="3"] .list .item .text .head h2 a {
  font-size: 54px;
}
[data-dpr="3.5"] .list .item .text .head h2 a {
  font-size: 63px;
}
[data-dpr="4"] .list .item .text .head h2 a {
  font-size: 72px;
}
.list .item .text .head span {
  font-size: 14px;
}
[data-dpr="2"] .list .item .text .head span {
  font-size: 28px;
}
[data-dpr="2.5"] .list .item .text .head span {
  font-size: 35px;
}
[data-dpr="2.625"] .list .item .text .head span {
  font-size: 36.75px;
}
[data-dpr="2.75"] .list .item .text .head span {
  font-size: 38.5px;
}
[data-dpr="3"] .list .item .text .head span {
  font-size: 42px;
}
[data-dpr="3.5"] .list .item .text .head span {
  font-size: 49px;
}
[data-dpr="4"] .list .item .text .head span {
  font-size: 56px;
}
.list .item .text .bottom {
  display: inline-flex;
}
.list .item .text .bottom .count {
  flex: 1;
  font-size: 0;
}
.list .item .text .bottom .count input {
  width: 0.666666666666667rem;
  height: 0.666666666666667rem;
  font-size: 20px;
  text-align: center;
  background-color: #fff;
}
[data-dpr="2"] .list .item .text .bottom .count input {
  font-size: 40px;
}
[data-dpr="2.5"] .list .item .text .bottom .count input {
  font-size: 50px;
}
[data-dpr="2.625"] .list .item .text .bottom .count input {
  font-size: 52.5px;
}
[data-dpr="2.75"] .list .item .text .bottom .count input {
  font-size: 55px;
}
[data-dpr="3"] .list .item .text .bottom .count input {
  font-size: 60px;
}
[data-dpr="3.5"] .list .item .text .bottom .count input {
  font-size: 70px;
}
[data-dpr="4"] .list .item .text .bottom .count input {
  font-size: 80px;
}
.list .item .text .bottom .sum {
  font-size: 15px;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
}
[data-dpr="2"] .list .item .text .bottom .sum {
  font-size: 30px;
}
[data-dpr="2.5"] .list .item .text .bottom .sum {
  font-size: 37.5px;
}
[data-dpr="2.625"] .list .item .text .bottom .sum {
  font-size: 39.375px;
}
[data-dpr="2.75"] .list .item .text .bottom .sum {
  font-size: 41.25px;
}
[data-dpr="3"] .list .item .text .bottom .sum {
  font-size: 45px;
}
[data-dpr="3.5"] .list .item .text .bottom .sum {
  font-size: 52.5px;
}
[data-dpr="4"] .list .item .text .bottom .sum {
  font-size: 60px;
}
.header {
  position: relative;
  font-size: 15px;
  width: 2.666666666666667rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  background-image: url("../images/text@2x.png");
}
.header:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-right: 1px solid #000;
  content: ' ';
}
[data-dpr="2"] .header {
  font-size: 30px;
}
[data-dpr="2.5"] .header {
  font-size: 37.5px;
}
[data-dpr="2.625"] .header {
  font-size: 39.375px;
}
[data-dpr="2.75"] .header {
  font-size: 41.25px;
}
[data-dpr="3"] .header {
  font-size: 45px;
}
[data-dpr="3.5"] .header {
  font-size: 52.5px;
}
[data-dpr="4"] .header {
  font-size: 60px;
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .header {
    background-image: url("../images/text@3x.png");
  }
}
.warpper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 50;
  background: rgba(0,0,0,0.5);
  text-align: center;
}
.warpper .wrap {
  min-height: 100%;
}
.warpper .wrap .content {
  padding-bottom: 60px;
}
.warpper .wrap .content p {
  line-height: 2;
  margin: 0 2em;
  text-indent: 2em;
  text-align: justify;
}
.warpper .warp-footer {
  position: relative;
  line-height: 60px;
  height: 60px;
  margin-top: -60px;
}
.pic-wrapper {
  width: 100%;
}
.pic-wrapper .pic-box {
  display: inline-block;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.pic-wrapper .pic-box .pic-content {
  width: 25rem;
  font-size: 0;
}
.pic-wrapper .pic-box .pic-content span {
  color: #ccc;
  font-size: 32px;
  width: 5rem;
  display: inline-block;
}
[data-dpr="2"] .pic-wrapper .pic-box .pic-content span {
  font-size: 64px;
}
[data-dpr="2.5"] .pic-wrapper .pic-box .pic-content span {
  font-size: 80px;
}
[data-dpr="2.625"] .pic-wrapper .pic-box .pic-content span {
  font-size: 84px;
}
[data-dpr="2.75"] .pic-wrapper .pic-box .pic-content span {
  font-size: 88px;
}
[data-dpr="3"] .pic-wrapper .pic-box .pic-content span {
  font-size: 96px;
}
[data-dpr="3.5"] .pic-wrapper .pic-box .pic-content span {
  font-size: 112px;
}
[data-dpr="4"] .pic-wrapper .pic-box .pic-content span {
  font-size: 128px;
}
