// 颜色定义规范
$color-blue = #4cacf0
$color-blue1 = #c6e8fd
$color-blueshadow = #44b2f7
$color-placeholder = #aaaaaa
$color-input = #333333
$color-blank = #fff
$btn-default = #4cacf0
$btn-active = #cfeafb
$color-999 = #999999
$color-666 = #666666
$color-333 = #333333
$color-e5e5e5 = #e5e5e5
$color-f2f2f0 = #f2f2f0
$color-green = #8bdb96
$color-orange = #ffb700
$color-orange1 = #fff1cc
$color-red = #fc5830
$color-red1 = #fcd4ca

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px