// @import './nib'
// 按照 宽度
@import './stylus/index.styl'

// stylus -w style.styl -o css -c    监听style.styl   保存当前css文件夹
//  -c 压缩

header
  padding:0 px2rem(50px)
  height: 1rem
  width: 75px
  bb-1px(#ccc)
  margin-bottom .25rem
.list
  position relative
  .item
    display flex
    width: 100%
    box-sizing border-box
    padding: 0 .5rem
    margin-bottom .5rem
    .pic
      flex: 0 0 25%
      property-dpr(30px)
      height: 0
      position relative
      padding-bottom: 25%
      img
        position absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    .text
      flex 1
      display flex
      padding-left .25rem
      flex-direction: column
      .head
        display inline-flex
        flex-grow 1
        h2
          flex: 1
          a
            property-dpr(36px)
            ellipsis(2)
        span
          property-dpr(28px)
      .bottom
        display inline-flex
        .count
          flex: 1
          font-size 0
          input
            width px2rem(50)
            height: px2rem(50)
            property-dpr(40px)
            text-align center
            background-color #fff
        .sum
          property-dpr(30px)
          justify-content: center
          display inline-flex
          flex-direction: column
.header
  br-1px(#000)
  property-dpr(30px)
  width px2rem(200)
  ellipsis(1)
  bg-images("../images/text")
.warpper
  position fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow auto
  z-index: 50
  background rgba(0, 0, 0, .5)
  text-align center
  .wrap
    min-height: 100%
    .content
      padding-bottom 60px
      p
        line-height 2
        margin: 0 2em
        text-indent 2em
        text-align justify
  .warp-footer
    position relative
    line-height 60px
    height: 60px
    margin-top -60px


.pic-wrapper
  width: 100%
  .pic-box
    display: inline-block
    width: 100%
    overflow-x auto
    overflow-y: hidden
    .pic-content
      width: 25rem
      font-size 0
      span
        color: #ccc
        property-dpr(64px)
        width: 5rem
        display: inline-block