@import "@mixin.scss";
@import "common.scss";
@import "variable.scss";
.no-deta-wrap{
	width: 10rem; 
	height: 14.6667rem;
	background-color: #fff;
	.no-data{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -1.8667rem;
		margin-top: -1.5333rem;
		.img{
			width: 3.7333rem;
			height: 3.0667rem;
			// @include bg-image('../images/wx_img/productNone');
		}
		.text{
			text-align: center;
			color: #d7d7d7;
			@include property-dpr(font-size, 38px);
		}
	}
}
.swiper-slide{
	height: 100% !important;
}
.bg-wrap{
	background-color: #fff;
	padding-bottom: 0.2667rem;
	padding-top: 0.1333rem;
}
.product-wrap{
	width: 6.5733rem;
	height: 0.96rem;
	margin: 0 auto 0;
	border-radius: 0.48rem;
	background-color: $color-f2f2f0;
	color: $color-999;
	@include property-dpr(font-size, 28px);
	@extend %display-flex;
	@extend %align-items--center;
	@extend %justify-content--space-between;
	.product{
		@extend %flex-1;
		text-align: center;
	}
	.active{
		width: 2.1867rem;
		height: 0.96rem;
		border-radius: 0.48rem;
		text-align: center;
		line-height: 0.96rem;
		color: #fff;
		background-color: $color-blue;
		box-shadow: 0 0.04rem 0.1067rem $color-blueshadow; 
	}
}
.tab-wrap{
	height: 1.2667rem;
	@include bb-1px(#e5e5e5);
	@extend %display-flex;
	padding: 0.24rem 0;
	@extend %border-box;
	background-color: #fff;
	i{
		display: inline-block;
		margin-left: 0.1333rem;
		.top{
			width: 0;
		    height: 0;
		    border-left: 0.1333rem solid transparent;
		    border-right: 0.1333rem solid transparent;
		    // border-bottom: 0.2rem solid red;
		}
		.bottom{
			width: 0;
		    height: 0;
		    border-left: 0.1333rem solid transparent;
		    border-right: 0.1333rem solid transparent;
		    // border-bottom: 0.2rem solid red;
		}
		.top{
			margin-bottom: 0.0667rem;
		}
	}
	.apr, .time{
		.default{
			.top{
				border-bottom: 0.2rem solid #d7d7d7;
			}
			.bottom{
				border-top: 0.2rem solid #d7d7d7;
			}
		}
		.up{
			.top{
				border-bottom: 0.2rem solid $color-blue;
			}
			.bottom{
				border-top: 0.2rem solid #d7d7d7;
			}
		}
		.down{
			.bottom{
				border-top: 0.2rem solid $color-blue;
			}
			.top{
				border-bottom: 0.2rem solid #d7d7d7;
			}
		}
	}
	.tab{
		position: relative;
		@extend %display-flex;
		@extend %flex-1;
		@extend %align-items--center;
		@extend %justify-content--center;
		text-align: center;
		@include property-dpr(font-size, 34px);
		color: $color-999;
		border-right: 2px solid $color-e5e5e5;
		&:last-child{
			border-right: none;
		}
	}
	.tab:active{
		opacity: 0.5;
	}
	.active{
		color: $color-blue;
	}
}
.bond-con{
	display: none;
}
.invest-wrap{
	height: 600px;
	margin-bottom: 1.8667rem;
}
.invest-wrap .overdue{
	.module-top{
		.tip1{
			background-color: $color-999;
		}
		.name{
			color: $color-999;
		}
		.tip2{
			color: $color-999;
			border: 1px solid $color-999;
		}
	}
	.module-middle{
		.title3 span{
			color: $color-999;
		}
	}
	.module-bottom{
		.apr{
			color: $color-999;
		}
		.time{
			color: $color-999;
		}
		.button{
			color: #fff;
		}
		.over{
			background-color: $color-blue1;
		}
	}
}
.invest-module{
	height: 4.1067rem !important;
	padding: 0.5333rem;
	background-color: #fff;
	margin-top: 0.2667rem;
	&:first-child{
		margin-top: 0;
	}
	.module-top{
		@extend %display-flex;
		@extend %align-items--center;
		@extend %justify-content--flex-start;
		margin-bottom: 0.4533rem;
		.tip1{
			color: #fff;
			width: 0.48rem;
			height: 0.48rem;
			text-align: center;
			line-height: 0.48rem;
			background-color: #16c1d9;
			border-radius: 0.1067rem;
			@include property-dpr(font-size, 28px);
			margin-right: 0.2133rem;
		}
		.name{
			color: #333;
			@include property-dpr(font-size, 34px);
			margin-right: 0.2667rem;
		}
		.tip2{
			width: 1.7733rem;
			height: 0.48rem;
			line-height: 0.48rem;
			text-align: center;
			border-radius: 0.0533rem;
			border: 1px solid red;
			color: #ffb700;
			@include property-dpr(font-size, 26px);
		}
	}
	.module-middle{
		@extend %display-flex;
		@extend %justify-content--space-between;
		@include property-dpr(font-size, 28px);
		color: $color-999;
		margin-bottom: 0.4rem;
		.title3 span{
			color: $color-666;
		}
	}
	.module-bottom{
		@extend %display-flex;
		.apr{
			width: 2.8rem;
			@include property-dpr(font-size, 54px);
			color: $color-red;
			margin-right: 0.4rem;
			span{
				@include property-dpr(font-size, 29px);
			}
		}
		.time{
			color: $color-333;
			width: 2.4rem;
			@include property-dpr(font-size, 34px);
			margin-right: 0.3rem;
			line-height: 2.2;
		}
		.button{
			width: 2.5333rem;
			height: 0.9333rem;
			color: #fff;
			text-align: center;
			line-height: 0.9333rem;
			border-radius: 0.4667rem;
			@include property-dpr(font-size, 34px);
		}
		.prepare{
			background-color: #ffcb47;
			box-shadow: 0 0.0533rem 0.16rem rgba(255,203,71,.5);
		}
		.ing{
			background-color: $color-blue;
			box-shadow: 0 0.0533rem 0.16rem rgba(68,178,247,.5);
		}
	}
}
.overdue-title{
	position: relative;
	color: $color-666;
	@include property-dpr(font-size, 28px);
	height: 1.3333rem;
	line-height: 1.3333rem;
	text-align: center;
	&+.overdue{
		margin-top: 0;
	}
	&:after{
		content: '';
		position: absolute;
		width: 2.08rem;
		height: 1px;
		background-color: #d7d7d7;
		top: 50%;
		right: 0;
	}
	&:before{
		content: '';
		position: absolute;
		width: 2.08rem;
		height: 1px;
		background-color: #d7d7d7;
		top: 50%;
		left: 0;
	}
}
// .footer{
// 	@extend %display-flex;
// 	@extend %align-items--center;
// 	@extend %justify-content--space-between;
// 	text-align: center;
// 	position: fixed;
// 	bottom: 0;
// 	left: 0;
// 	right: 0;
// 	width: 10rem;
// 	height: 1.3067rem;
// 	background-color: #fff;
// 	padding: 0 1.28rem;
// 	box-shadow: 0.0133rem 0 0.1067rem rgba(0,0,0,.1);
// 	@include property-dpr(font-size, 20px);
// 	.img{
// 		width: 0.7467rem;
// 		height: 0.7467rem;
// 		margin: 0 auto;
// 	}
// 	.normal .text{
// 		color: $color-999;
// 	}
// 	.active .text{
// 		color: #5893ff;
// 	}
// 	.home{
// 		.normal{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterIndex');
// 			}
// 		}
// 		.active{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterIndexAct');
// 			}
// 		}
// 	}
// 	.product{
// 		.normal{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterProduct');
// 			}
// 		}
// 		.active{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterProductAct');
// 			}
// 		}
// 	}
// 	.my{
// 		.normal{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterMine');
// 			}
// 		}
// 		.active{
// 			.img{
// 				@include bg-image('../images/wx_img/IconFooterMineAct');
// 			}
// 		}
// 	}
// }
// .loadEffect{
// 	    width: 100px;
// 	    height: 100px;
// 	    position: relative;
// 	    margin: 0 auto;
// 	    margin-top:100px;
// 	}
// 	.loadEffect span{
// 	    display: inline-block;
// 	    width: 16px;
// 	    height: 16px;
// 	    border-radius: 50%;
// 	    background: lightgreen;
// 	    position: absolute;
// 	    -webkit-animation: load 1.04s ease infinite;
// 	}
// 	@-webkit-keyframes load{
// 	    0%{
// 	        opacity: 1;
// 	    }
// 	    100%{
// 	        opacity: 0.2;
// 	    }
// 	}
// 	.loadEffect span:nth-child(1){
// 	    left: 0;
// 	    top: 50%;
// 	    margin-top:-8px;
// 	    -webkit-animation-delay:0.13s;
// 	}
// 	.loadEffect span:nth-child(2){
// 	    left: 14px;
// 	    top: 14px;
// 	    -webkit-animation-delay:0.26s;
// 	}
// 	.loadEffect span:nth-child(3){
// 	    left: 50%;
// 	    top: 0;
// 	    margin-left: -8px;
// 	    -webkit-animation-delay:0.39s;
// 	}
// 	.loadEffect span:nth-child(4){
// 	    top: 14px;
// 	    right:14px;
// 	    -webkit-animation-delay:0.52s;
// 	}
// 	.loadEffect span:nth-child(5){
// 	    right: 0;
// 	    top: 50%;
// 	    margin-top:-8px;
// 	    -webkit-animation-delay:0.65s;
// 	}
// 	.loadEffect span:nth-child(6){
// 	    right: 14px;
// 	    bottom:14px;
// 	    -webkit-animation-delay:0.78s;
// 	}
// 	.loadEffect span:nth-child(7){
// 	    bottom: 0;
// 	    left: 50%;
// 	    margin-left: -8px;
// 	    -webkit-animation-delay:0.91s;
// 	}
// 	.loadEffect span:nth-child(8){
// 	    bottom: 14px;
// 	    left: 14px;
// 	    -webkit-animation-delay:1.04s;
// 	}
// }
.loading-wrap{
	display: none;
	.text{
		@include property-dpr(font-size, 28px);
		color: $color-333;
		text-align: center;
		margin-top: 0.1333rem;
	}
	.loadEffect{
		width: 1.3333rem;
		height: 1.3333rem;
		position: relative;
		margin: 0 auto;
	}
	.loadEffect span{
	    display: inline-block;
	    width: 0.2667rem;
	    height: 0.2667rem;
	    border-radius: 50%;
	    background: #999;
	    position: absolute;
	    -webkit-animation: load 1.04s ease infinite;
	    animation: load 1.04s ease infinite;
	}
	@keyframes load{
	    0%{
	        transform:rotate(1.2);
			-ms-transform:rotate(1.2); 	/* IE 9 */
			-moz-transform:rotate(1.2); 	/* Firefox */
			-webkit-transform:rotate(1.2); /* Safari 和 Chrome */
			-o-transform:rotate(1.2);
	        opacity: 1;
	    }
	    100%{
	        transform:rotate(.3);
			-ms-transform:rotate(.3); 	/* IE 9 */
			-moz-transform:rotate(.3); 	/* Firefox */
			-webkit-transform:rotate(.3); /* Safari 和 Chrome */
			-o-transform:rotate(.3);
	        opacity: 0.5;
	    }
	}
	@-webkit-keyframes load{
	    0%{
	        transform:rotate(1.2);
			-ms-transform:rotate(1.2); 	/* IE 9 */
			-moz-transform:rotate(1.2); 	/* Firefox */
			-webkit-transform:rotate(1.2); /* Safari 和 Chrome */
			-o-transform:rotate(1.2);
	        opacity: 1;
	    }
	    100%{
	        transform:rotate(.3);
			-ms-transform:rotate(.3); 	/* IE 9 */
			-moz-transform:rotate(.3); 	/* Firefox */
			-webkit-transform:rotate(.3); /* Safari 和 Chrome */
			-o-transform:rotate(.3);
	        opacity: 0.5;
	    }
	}
	@-moz-keyframes load{
		0%{
	        transform:rotate(1.2);
			-ms-transform:rotate(1.2); 	/* IE 9 */
			-moz-transform:rotate(1.2); 	/* Firefox */
			-webkit-transform:rotate(1.2); /* Safari 和 Chrome */
			-o-transform:rotate(1.2);
	        opacity: 1;
	    }
	    100%{
	        transform:rotate(.3);
			-ms-transform:rotate(.3); 	/* IE 9 */
			-moz-transform:rotate(.3); 	/* Firefox */
			-webkit-transform:rotate(.3); /* Safari 和 Chrome */
			-o-transform:rotate(.3);
	        opacity: 0.5;
	    }
	}
	@-o-keyframes load{
		0%{
	        transform:rotate(1.2);
			-ms-transform:rotate(1.2); 	/* IE 9 */
			-moz-transform:rotate(1.2); 	/* Firefox */
			-webkit-transform:rotate(1.2); /* Safari 和 Chrome */
			-o-transform:rotate(1.2);
	        opacity: 1;
	    }
	    100%{
	        transform:rotate(.3);
			-ms-transform:rotate(.3); 	/* IE 9 */
			-moz-transform:rotate(.3); 	/* Firefox */
			-webkit-transform:rotate(.3); /* Safari 和 Chrome */
			-o-transform:rotate(.3);
	        opacity: 0.5;
	    }
	}
	.loadEffect span:nth-child(1){
	    left: 0;
	    top: 50%;
	    margin-top:-0.1333rem;
	    -webkit-animation-delay:0.13s;
	    animation-delay:0.13s;
	}
	.loadEffect span:nth-child(2){
	    left: 0.1867rem;
	    top: 0.1867rem;
	    -webkit-animation-delay:0.26s;
	    animation-delay:0.26s;
	}
	.loadEffect span:nth-child(3){
	    left: 50%;
	    top: 0;
	    margin-left: -0.1333rem;
	    -webkit-animation-delay:0.39s;
	    animation-delay:0.39s;
	}
	.loadEffect span:nth-child(4){
	    top: 0.1867rem;
	    right: 0.1867rem;
	    -webkit-animation-delay:0.52s;
	    animation-delay:0.52s;
	}
	.loadEffect span:nth-child(5){
	    right: 0;
	    top: 50%;
	    margin-top:-0.1333rem;
	    -webkit-animation-delay:0.65s;
	    animation-delay:0.65s;
	}
	.loadEffect span:nth-child(6){
	    right: 0.1867rem;
	    bottom:0.1867rem;
	    -webkit-animation-delay:0.78s;
	    animation-delay:0.78s;
	}
	.loadEffect span:nth-child(7){
	    bottom: 0;
	    left: 50%;
	    margin-left: -0.1333rem;
	    -webkit-animation-delay:0.91s;
	    animation-delay:0.91s;
	}
	.loadEffect span:nth-child(8){
	    bottom: 0.1867rem;
	    left: 0.1867rem;
	    -webkit-animation-delay:1.04s;
	    animation-delay:1.04s;
	}
}

